<div class="row animated fadeIn fast">
  <div class="col-md-4">
    <img src="{{videojuego.img}}" class="img-fluid" alt="videojuego.nombre">
    <br><br>
    <a [routerLink]="['/videojuegos']" class="btn btn-outline-primary btn-block">Regresar</a>
  </div>
  <div class="col-md-8">
    <h3>{{videojuego.nombre}}</h3>
    <hr>
    <p>
      {{videojuego.descripcion}}
    </p>
    <img *ngIf="videojuego.consola == 'PS4'" class="logo"
    src="../../../assets/img/ps4/logo_ps4.png" alt="">
    <img *ngIf="videojuego.consola == 'XBOX'" class="logo"
    src="./assets/img/xbox/logo_xbox.png" alt="">
    <img *ngIf="videojuego.consola == 'PC'" class="logo"
         src="./assets/img/pc/logo_pc.png" alt="">
  </div>
</div>
